@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');

body{
    position: relative;
}
.bg{
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: -1;
}
.tebel-banget{
    font-weight: 900;
    color: #fff;
    font-family: 'Poppins','sans-serif';
}
.tebel-sedang{
    font-weight: bold;
    color: #fff;
    font-family: 'Poppins','sans-serif';
}
.text-sedang{
    font-weight: bold;
    color: rgb(39, 34, 34);
    font-family: 'Ubuntu','sans-serif';
}
.text-kecil{
    font-weight: bold;
    color: rgb(109, 108, 108);
    font-family: 'Ubuntu','sans-serif';
}
.text-services{
    font-weight: bold;
    color: #00A0B6;
    font-family: 'Ubuntu','sans-serif';
}
.desc{
    max-width: 100%;
    text-align: center;
    color: #fff;
    font-size: 22px;
    font-family: 'Poppins','sans-serif';
}
.desc1{
    max-width: 500px;
    color: rgb(109, 108, 108);
    font-size: 22px;
    font-family: 'Poppins','sans-serif';
}
.desc2{
    max-width: 600px;
    color: rgb(109, 108, 108);
    font-size: 22px;
    font-family: 'Poppins','sans-serif';
}
.button{
    background-color: #f19e00;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}
.button:hover{
    background-color: #ba7c25;
    color: white;
}
.gambar{
    display: none;
}
.img{
    width: 500px;
    z-index: -1;
}
.link{
    color: #f19e00;
    text-decoration: none;
    transition: 0.3s;
}
.link:hover{
    color: #ba7c25;
}
.mobile{
    display: none;
}
.beranda{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:5rem;
    padding-top: 0rem;
}

/* About */
.tentang{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background:rgb(247, 245, 245);
    padding:5rem;
    padding-top: 0rem;
}

/* Service  */
.features{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background:#fff;
    padding:5rem;
    padding-top: 0rem;
}
.features h1{
    text-align: center;
    font-weight: 600;
    position: relative;
    font-family: 'Ubuntu','sans-serif';
}
.text-kontak{
    color: rgb(109, 108, 108);
    font-size: 22px;
    font-family: 'Ubuntu','sans-serif';
}
.row-contact{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 30px;
    margin-top: 5rem;
}
.contact{
    text-align: center;
    padding: 25px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    background: transparent;
}
.contact h6{
    color:#354053;
    font-family: 'Ubuntu','sans-serif';
}
.contact:hover{
    background: #00A0B6;
    color: #fff;
    transform: scale(1.05);
}

/* Vendor  */
.vendor{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: #F9F9F9;
    padding: 5rem;
}
.vendor h1{
    text-align: center;
    font-weight: 600;
    position: relative;
    font-family: 'Ubuntu','sans-serif';
}

.heading{
    text-align: center;
    background: blue;
    color:transparent;
    --webkit-background-clip: text;
    background-clip: text;
    font-size: 3.5rem;
    text-transform: uppercase;
    padding:1rem;
}
.pricing .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 6rem;
}
.box{
    flex:1 1 12rem;
    margin:1rem;
    padding:1rem;
    background:#fff;
    border:.1rem solid rgba(0,0,0,.2);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: 2rem;
    text-align: center;
    padding-bottom: 3rem;
}
.box:hover{
    border:.2rem solid #00A0B6;
}
.price{
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
    position: relative;
    font-family: 'Ubuntu','sans-serif';
    top: 1rem;
}
.text-vendor{
    color: rgb(109, 108, 108);
    font-size: 19px;
    font-family: 'Ubuntu','sans-serif';
}
.text-vendor1{
    color: rgb(109, 108, 108);
    font-size: 19px;
    font-family: 'Ubuntu','sans-serif';
    margin-top: 3rem;
}

/* Mitra  */
.mitra{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: #fff;
    padding: 5rem;
}
.button1{
    background-color: #00A0B6;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 19px;
    transition: 0.3s;
    font-family: 'Ubuntu','sans-serif';
}
.button1:hover{
    background-color: #ba7c25;
    color: white;
    font-family: 'Ubuntu','sans-serif';
}
.text-mitra{
    font-weight: bold;
    color: rgb(39, 34, 34);
    font-family: 'Ubuntu','sans-serif';
}

/* Footer */

.footer{
    background:#F9F9F9;
}
.logo-footer{
    margin:1rem;
    padding:1rem;
    height: 80px;
    background:#fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: 1rem;
}

.footer .bos-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.bos{
    flex:12rem;
    margin:2rem;
}

.bos h3{
    font-size: 2.5rem;
    color:#00A0B6;
}

.bos p{
    font-size: 1.5rem;
    color:#858C9A;
    padding:1rem 0;
    font-family: 'Ubuntu','sans-serif';
}

.bos p i{
    padding:0 .5rem;
    color:#00A0B6;
}

.footer .bos-container .bos:nth-child(2){
    text-align: center;
}

.link-footer{
    font-size: 1.8rem;
    display:block;
    color:#858C9A;
    text-transform: capitalize;
    text-decoration: navajowhite;
    padding:.3rem 0;
    font-family: 'Ubuntu','sans-serif';
}

.link-footer:hover{
    color: #00A0B6;
    text-transform: capitalize;
    text-decoration: navajowhite;
}
.text-footer{
    color: #858C9A;
    font-size: 22px;
    font-family: 'Ubuntu','sans-serif';
}

.credit{
    padding:2rem 1rem;
    text-align: center;
    background:#00A0B6;
    color:#eee;
    font-size: 2rem;
    font-family: 'Ubuntu','sans-serif';
}


