@import url(//fonts.googleapis.com/css?family=Lato:300:400);

body {
  margin: 0;
}

h1 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 48px;
}

p {
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  color: #333333;
}

.header {
  position: relative;
  text-align: center;
  background: linear-gradient(
    60deg,
    #093545 0%,
    #093545 100%
  );
  color: white;
}

.inner-header {
  height: 85vh;
  width: 100%;
  margin: 0;
  padding-right: 10px;
  padding-left: 10px;
}

.card {
 background-color: #092C39;
 color: #FFFFFF;
}

.card-body {
  padding: 2rem 2rem;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

p {
  text-align: justify;
  color: #FFFFFF;
  font-family: montserrat;
}

.form-box {
	margin: auto auto;
	padding: 40px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 500px;
	height: 430px;
}

.header-text {
	font-size: 32px;
	font-weight: 600;
	padding-bottom: 30px;
	text-align: center;
}

.form-control:active,
.form-control:focus,
.form-control:focus:active {
  background-color: #224957!important;
  border-color: #224957;
  color: white;
  font-family: montserrat;
  border: none;
}

.form-control {
  background-color: #224957!important;
  border-color: #224957;
  color: white;
  font-family: montserrat;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.form-control::-webkit-input-placeholder {
  color: white ;
}

 
.form-box input[type=checkbox] {
	border: none;
	border-radius: 5px;
	font-size: 18px;
	font-family: montserrat;
    background: #224957;
    color: white;
}
.form-box button {
	background-color: #2BD17E;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
	padding: 10px;
	margin: 20px 0px;
}

.form-box button:hover {
	background-color: #2BD17E;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
	padding: 10px;
	margin: 20px 0px;
}

.form-box button:active {
	background-color: #2BD17E;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
	padding: 10px;
	margin: 20px 0px;
}

.btn {
	cursor: pointer;
	width: 100%;
}

.btn-outline-white {
	cursor: pointer;
	width: 100%;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.btn-outline-white:hover {
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

span a {
	color: #BBB;
}


.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

.content {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/* /* Shrinking for mobile */
@media (max-width: 768px) {
    .inner-header {
        height: 85vh;
        width: 100%;
        margin: 0;
        padding: 0;
        height: 130vh;
    }
    .login {
        display: block;
        width: 82vh;
    }
}
