@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');

body{
    position: relative;
}
.bg{
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: -1;
}
.tebel-banget{
    font-weight: 900;
    color: #fff;
    font-family: 'Poppins','sans-serif';
}
.tebel-sedang{
    font-weight: bold;
    color: #fff;
    font-family: 'Poppins','sans-serif';
}
.text-sedang{
    font-weight: bold;
    color: rgb(39, 34, 34);
    font-family: 'Ubuntu','sans-serif';
}
.text-kecil{
    font-weight: bold;
    color: rgb(109, 108, 108);
    font-family: 'Ubuntu','sans-serif';
}
.text-services{
    font-weight: bold;
    color: #00A0B6;
    font-family: 'Ubuntu','sans-serif';
}
.desc{
    max-width: 100%;
    text-align: center;
    color: #fff;
    font-size: 22px;
    font-family: 'Poppins','sans-serif';
}
.desc1{
    max-width: 500px;
    color: rgb(109, 108, 108);
    font-size: 22px;
    font-family: 'Poppins','sans-serif';
}
.button{
    background-color: #f19e00;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}
.button:hover{
    background-color: #ba7c25;
    color: white;
}
.gambar{
    display: none;
}
.img{
    width: 500px;
    z-index: -1;
}
.link{
    color: #f19e00;
    text-decoration: none;
    transition: 0.3s;
}
.link:hover{
    color: #ba7c25;
}
.mobile{
    display: none;
}

/* About */
.tentang{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background:#fff;
    padding:5rem;
    padding-top: 0rem;
    margin-top: 13rem;
}

/* Service  */
.features{
    min-height: 100vh;
    text-align: center;
    padding-top: 7rem;
}

.features .description{
    padding:1rem 0;
    margin:0 auto;
    width:70rem;
    color:#666;
    font-size: 1.5rem;
}

.features .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.features .box-container .box{
    margin:2rem;
    width:28rem;
    z-index: 0;
    position: relative;
}

.features .box-container .box::before{
    content: '';
    position: absolute;
    top:32.5%; left:50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background:var(--blue);
    height: 10rem;
    width: 10rem;
    z-index: -1;
    box-shadow: 0 0 0 1rem rgba(0, 0, 255, .1);
}

.features .box-container .box i{
    color:#fff;
    font-size: 4.5rem;
    margin:8rem 0;
}

.features .box-container .box h3{
    color:#333;
    font-size: 2rem;
}

.features .box-container .box p{
    color:#666;
    font-size: 1.2rem;
    padding:1rem 0;
}

