@media screen and (max-width: 600px) {
    .img{
        display: none;
        width: 500px;
    }
    .gambar{
        text-align: center;
        width: 500px;
    }
    .bg{
        min-width: 300vh;
        min-height: 250vh;
    }
    .ContentText{
        max-width: 100%;
        text-align: center;
        color: rgb(133, 133, 133);
        font-size: 10px;
        font-family: 'Ubuntu','sans-serif';
    }
}
@media screen and (max-width: 768px) {
    .features .description{
        width:auto;
        padding:1rem;
    }
    .gambar{
        text-align: center;
    }
    .bg{
        min-width: 300vh;
        min-height: 250vh;
    }
    .row-contact{
        grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    }
    .tentang h1{
        font-size: 3rem;
        text-align: center;
    }
    .tentang h5{
        font-size: 1rem;
        text-align: center;
    }
    .tentang .desc1{
        font-size: 1rem;
        max-width: 100%;
        text-align: center;
    }
    .text-mitra{
        text-align: center;
    }
    .mitra h3{
        font-size: 2rem;
    }
    .mitra .desc2{
        font-size: 1rem;
        max-width: 100%;
        text-align: center;
    }
    .button1{
        padding: 12px 20px;
        font-size: 20px;
    }
    .button-posiition{
        margin-top: 2rem;
        text-align: center;
    }
    .text-position{
        margin-top: 0.1rem;
    }
    .background-position{
        position: relative;
    }
    .text-kontak{
        font-size: 12px;
    }
    .text-vendor1{
        font-size: 18px;
    }
    .up-icon{
        width: 30px;
        height: 30px;
        bottom: 20px;
	    right: 30px;
        line-height: 30px;
    }
    .fa-chevron-circle-up{
        font-size: 20px;
        line-height: 30px;
    }
}
@media screen and (max-width: 800px) {
    .img{
        display: none;
        width: 500px;
    }
    .gambar{
        display: block;
    }
    .bg{
        min-width: 200vh;
        /* min-height: 150vh; */
    }
}
@media screen and (max-width: 992px) {
    .img{
        width: 300px;
        z-index: -1;
    }
    .bg{
        min-width: 200vh;
    }
    .row-contact{
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
}
@media screen and (max-width: 2650px) {
    .img{
        width: 500px;
        z-index: -1;
    }
    .bg{
        min-width: 200vh;
    }
}
@media screen and (max-width: 1024px) {
    .img{
        width: 300px;
        z-index: -1;
    }
    .bg{
        min-width: 300vh;
        min-height: 200vh;
    }
    .text-sedang{
        font-weight: bold;
        color: rgb(39, 34, 34);
        font-family: 'Ubuntu','sans-serif';
        font-size: 4rem;
    }
    .text-kecil{
        font-weight: bold;
        color: rgb(109, 108, 108);
        font-family: 'Ubuntu','sans-serif';
        font-size: 1.5rem;
    }
    .desc1{
        max-width: 450px;
        color: rgb(109, 108, 108);
        font-size: 18px;
        font-family: 'Poppins','sans-serif';
    }
    .row-contact{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    .text-mitra{
        font-size: 2rem;
    }
    .desc2{
        max-width: 400px;
        font-size: 15px;
    }
    .text-vendor1{
        font-size: 12px;
        margin-top: 2rem;
    }
    .price{
        font-size: 1.5rem;
    }
    .box{
        flex: 10rem;
    }
    .text-position{
        margin-top: 0.1rem;
    }
    .logo-footer{
        height: 50px;
    }
    .logo-footer1{
        height: 30px;
    }
    .text-footer-header{
        font-size: 26px;
    }
    .text-footer1{
        margin-left: 0.1rem;
    }
    .bos{
        flex:8rem;
        margin:2rem;
    }
    /* .up-icon{
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
    .fa-chevron-circle-up{
        font-size: 20px;
        line-height: 30px;
    } */
}