@media screen and (max-width: 600px) {
    .img{
        display: none;
        width: 500px;
    }
    .mobile{
        display: block;
    }
    .gambar{
        text-align: center;
    }
    .desktop{
        display: none;
    }
    .bg{
        display: none;
    }
    .navbar{
        display: none;
    }
    .tebel-banget{
        font-weight: 900;
        color: #00A0B6;
        font-family: 'Neon',sans-serif;
    }
    .tebel-sedang{
        font-weight: bold;
        color: #00A0B6;
        font-family: 'Poppins','sans-serif';
        font-size: 5px;
    }
    .ContentText{
        max-width: 100%;
        text-align: center;
        color: rgb(78, 66, 66);
        font-size: 10px;
        font-family: 'Poppins','sans-serif';
    }
    .button{
        background-color: #00A0B6;
        border: none;
        color: white;
        padding: 7px 100px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        border-radius: 1rem;
        transition: 0.3s;
    }
    .button:hover{
        background-color: #193fbd;
        color: white;
    }
    .tentang .image img{
        width:80%;
        height:auto;
    }
    .tentang{
        display: none;
    }
}
@media screen and (max-width: 800px) {
    .img{
        display: none;
        width: 500px;
    }
    .gambar{
        display: block;
    }
    .bg{
        min-width: 200vh;
        /* min-height: 150vh; */
    }
}
@media screen and (max-width: 992px) {
    .img{
        width: 300px;
        z-index: -1;
    }
    .bg{
        min-width: 300vh;
    }
}
@media screen and (max-width: 2650px) {
    .img{
        width: 500px;
        z-index: -1;
    }
    .bg{
        min-width: 200vh;
    }
}
@media screen and (max-width: 1199px) {
    .img{
        width: 400px;
        z-index: -1;
    }
}